In [1]:
import pandas as pd

my_df = pd.read_csv("feature_selection_sample_data.csv")
my_df

    output  input1  input2  input3  input4
0      564     534     536     466     599
1      182     264     103     244     519
2      323     272     339     609     474
3      438     416     444     330     582
4      547     520     464     104     412
5      291      81     415     705     444
6      436     380     386     408     532
7      656     549     596     387     443
8      349     431     364     672     420
9      540     574     611     182     422
10     373     313     350     398     504
11     252     281     266     461     528
12     419     323     377     487     517
13     238      55     350     511     495
14     387     397     454     779     481
15     522     463     424     289     541
16     531     574     638     702     453
17     391     337     261     236     463
18     374     433     412     367     485
19     284     332     294     574     566
20     598     497     523     420     547
21     416     509     515     604     574
22     330     351     406     152     472
23     232     281     307     274     461
24     598     563     492     565     597
25     418     452     465     569     454
26     490     486     459     204     418
27     544     429     502     106     588
28     404     386     395     749     429
29     532     509     486     305     422
30     553     514     455     412     466
31     598     594     645     407     600
32     496     362     439     752     484
33     562     585     551     520     519
34     617     389     948     229     555
35     489     543     619     424     467
36     625     592     557     407     422
37     358     449     442     371     582
38     585     514     529     557     465
39     410     420     478     359     542
40     296     303     346     692     544
41     361     430     442     188     535
42     405     323     362     368     433
43     402     478     511     156     598
44     573     551     628     486     517
45     329     407     359     667     582
46     339     387     414     119     523
47     587     409     838     311     495
48     471     480     535     702     522
49     329     271     217     792     596
50     449     477     407     305     520
51     615     535     561     630     423
52     334     321     342     350     486
53     367     376     400     727     518
54     631     525     592     482     539
55     376     395     459     738     558
56     349     448     411     594     519
57     173     271     265     410     433
58     533     458     461     502     401
59     190     306     243     575     241

In [2]:
# Regression Template
from sklearn.feature_selection import SelectKBest, f_regression

X = my_df.drop(["output"], axis=1)
y = my_df["output"]

In [3]:
feature_selector = SelectKBest(f_regression, k="all")

In [4]:
fit = feature_selector.fit(X, y)

In [5]:
p_values = pd.DataFrame(fit.pvalues_)
scores = pd.DataFrame(fit.scores_)

In [6]:
p_values

              0
0  6.413213e-14
1  3.119710e-14
2  3.286162e-01
3  5.119015e-01

In [7]:
scores

           0
0  96.132546
1  99.972912
2   0.970626
3   0.435527

In [8]:
input_variable_names = pd.DataFrame(X.columns)
input_variable_names

        0
0  input1
1  input2
2  input3
3  input4

In [9]:
summary_stats = pd.concat([input_variable_names, p_values, scores], axis=1)
summary_stats

        0             0          0
0  input1  6.413213e-14  96.132546
1  input2  3.119710e-14  99.972912
2  input3  3.286162e-01   0.970626
3  input4  5.119015e-01   0.435527

In [10]:
summary_stats.columns = ["input_variable", "p_value", "f_score"]
summary_stats

  input_variable       p_value    f_score
0         input1  6.413213e-14  96.132546
1         input2  3.119710e-14  99.972912
2         input3  3.286162e-01   0.970626
3         input4  5.119015e-01   0.435527

In [11]:
summary_stats.sort_values(by="p_value", inplace=True)
summary_stats

  input_variable       p_value    f_score
1         input2  3.119710e-14  99.972912
0         input1  6.413213e-14  96.132546
2         input3  3.286162e-01   0.970626
3         input4  5.119015e-01   0.435527

In [12]:
p_value_threshold = 0.05
score_threshold = 5

selected_variables = summary_stats.loc[(summary_stats["f_score"] >= score_threshold) & (summary_stats["p_value"] <= p_value_threshold)]
selected_variables

  input_variable       p_value    f_score
1         input2  3.119710e-14  99.972912
0         input1  6.413213e-14  96.132546

In [13]:
selected_variables = selected_variables["input_variable"].tolist()

In [14]:
X_new = X[selected_variables]
X_new

    input2  input1
0      536     534
1      103     264
2      339     272
3      444     416
4      464     520
5      415      81
6      386     380
7      596     549
8      364     431
9      611     574
10     350     313
11     266     281
12     377     323
13     350      55
14     454     397
15     424     463
16     638     574
17     261     337
18     412     433
19     294     332
20     523     497
21     515     509
22     406     351
23     307     281
24     492     563
25     465     452
26     459     486
27     502     429
28     395     386
29     486     509
30     455     514
31     645     594
32     439     362
33     551     585
34     948     389
35     619     543
36     557     592
37     442     449
38     529     514
39     478     420
40     346     303
41     442     430
42     362     323
43     511     478
44     628     551
45     359     407
46     414     387
47     838     409
48     535     480
49     217     271
50     407     477
51     561     535
52     342     321
53     400     376
54     592     525
55     459     395
56     411     448
57     265     271
58     461     458
59     243     306

In [29]:
# Classification Template

from sklearn.feature_selection import SelectKBest, chi2

X = my_df.drop(["output"], axis=1)
y = my_df["output"]

feature_selector = SelectKBest(chi2, k="all")
fit = feature_selector.fit(X, y)

p_values = pd.DataFrame(fit.pvalues_)
scores = pd.DataFrame(fit.scores_)
input_variable_names = pd.DataFrame(X.columns)
summary_stats = pd.concat([input_variable_names, p_values, scores], axis=1)
summary_stats.columns = ["input_variable", "p_value", "chi2_score"]
summary_stats.sort_values(by="p_value", inplace=True)

p_value_threshold = 0.05
score_threshold = 5

selected_variables = summary_stats.loc[(summary_stats["chi2_score"] >= score_threshold) & (summary_stats["p_value"] <= p_value_threshold)]
selected_variables = selected_variables["input_variable"].tolist()
X_new = X[selected_variables]

X_new

    input1  input2  input3  input4
0      534     536     466     599
1      264     103     244     519
2      272     339     609     474
3      416     444     330     582
4      520     464     104     412
5       81     415     705     444
6      380     386     408     532
7      549     596     387     443
8      431     364     672     420
9      574     611     182     422
10     313     350     398     504
11     281     266     461     528
12     323     377     487     517
13      55     350     511     495
14     397     454     779     481
15     463     424     289     541
16     574     638     702     453
17     337     261     236     463
18     433     412     367     485
19     332     294     574     566
20     497     523     420     547
21     509     515     604     574
22     351     406     152     472
23     281     307     274     461
24     563     492     565     597
25     452     465     569     454
26     486     459     204     418
27     429     502     106     588
28     386     395     749     429
29     509     486     305     422
30     514     455     412     466
31     594     645     407     600
32     362     439     752     484
33     585     551     520     519
34     389     948     229     555
35     543     619     424     467
36     592     557     407     422
37     449     442     371     582
38     514     529     557     465
39     420     478     359     542
40     303     346     692     544
41     430     442     188     535
42     323     362     368     433
43     478     511     156     598
44     551     628     486     517
45     407     359     667     582
46     387     414     119     523
47     409     838     311     495
48     480     535     702     522
49     271     217     792     596
50     477     407     305     520
51     535     561     630     423
52     321     342     350     486
53     376     400     727     518
54     525     592     482     539
55     395     459     738     558
56     448     411     594     519
57     271     265     410     433
58     458     461     502     401
59     306     243     575     241